<h1> bottleName</h1>
<!-- For loop example -->
<h1>ngFor Example</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Length of Name</th>
    <th>Comment</th>
  </tr>
  <tr *ngFor="let element of example">
    <td>test</td>
    <td>{{element}}</td>
    <td>{{element.length}}</td>
    <td>{{element.length >3 ? "Short" : "Long" }}</td>
  </tr>
</table>
 <!-- two way data binding -->
  <h1> Example 2 </h1>
  <table>
    <tr *ngFor="let person of people">
      <td>{{person.name}}</td>
      <td>{{person.age}}</td>
    </tr>
  </table>
  <label>name</label><input type="text" [(ngModel)]="formBinding.name"><br>
  <label>age</label><input type="number" [(ngModel)]="formBinding.age">
  <input type="button" value="" (click)="addPerson()" value="Add person">
   <!-- selection -->
  <h1> example 3</h1>
  <table>
    <tr *ngFor="let person of example3" (click)="select(person)" class="{{person == selectedItem?'selected':'' }}" >
      <td>{{person.name}}</td>
      <td>{{person.age}}</td>
    </tr>
  </table>
  <div *ngIf="selectedItem != null">
       {{selectedItem.name}}
  </div>
